{% extends "main.html" %}
{% load static %}

{% block additional_head_css %}
<style>
  .custom-accordion .accordion-button {
    background-color: #f8f9fa; /* Custom background color */
    color: #000; /* Custom text color */
}
.custom-accordion .accordion-button:not(.collapsed) {
    background-color: #e2e6ea; /* Custom background color when expanded */
    color: #000; /* Custom text color */
}
</style>

{% endblock additional_head_css %}

{% block content %}
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Student</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{session.exam.name}} analysis</li>
    </ol>
  </nav>
               
  <div class="card">
    <div class="card-header">
        <h2>{{request.user}}</h2>
        <h6 class="bg-dark text-light p-2">Exam Summary</h6>

        <div class="row">
            <div class="col-md-5 bg-light">
                <div class="row">
                    <div class="col-4"><p class="fw-bold">Subject: </p></div>
                    <div class="col-6"><p>{{session.exam.subject.name}}</p></div>
                 </div>
                <div class="row">
                    <div class="col-4"><p class="fw-bold">Test name: </p></div>
                    <div class="col-6"><p>{{session.exam.name}}</p></div>
                 </div>
                <div class="row">
                    <div class="col-4"><p class="fw-bold">Grade: </p></div>
                    <div class="col-6"><p>{{session.exam.grade}}</p></div>
                 </div>
            </div>

            <div class="col-md-5  ms-auto bg-light" >
                <div class="row">
                    <div class="col-4"><p class="fw-bold">Start Time:</p></div>
                    <div class="col-6"><p>{{session.time_started}}</p></div>
                 </div>
                <div class="row">
                    <div class="col-4"><p class="fw-bold">End Time: </p></div>
                    <div class="col-6"><p>{{session.time_ended}}</p></div>
                </div>
                <div class="row">
                    <div class="col-4"><p class="fw-bold">Time Spent: </p></div>
                    <div class="col-6"><p>{{session.seconds_to_hms}}</p></div>
                </div>
            </div>
        </div>
    </div> 
  </div>

  <ul class="mt-2 nav nav-pills nav-fill gap-2 p-1 small bg-dark rounded-2 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-dark); --bs-nav-pills-link-active-color: var(--bs-dark); --bs-nav-pills-link-active-bg: var(--bs-white); nav-link:hover">
    <li class="nav-item" role="presentation">
      <button class="nav-link active rounded-2" id="summary-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" data-bs-target="#summary">Exam Summary</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link rounded-2" id="question-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" data-bs-target="#questionCorrection"><i class="fas fa-list"></i> Question</button>
    </li>
  </ul>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade " id="questionCorrection" role="tabpanel" aria-labelledby="question" tabindex="0">
        <div class="mt-2 spinner-border d-block mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div id="question-container">

        </div>
    </div>
    <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary" tabindex="0">
        <div class="table-responsive">
          <table class="table table-hover table-bordered caption-top">
            <caption><h1><span class="fw-bold text-decoration-underline">{{request.user}}</span> exam result:</h1></caption>
            <tbody>
              <tr>
                <th scope="row">Total number of answered Questions</th>
                <td class="text-center">{{total_ans}}</td>
              </tr>
              <tr>
                <th scope="row">Total number of unanswered Questions</th>
                <td class="text-center">{{unanswered}}</td>
              </tr>
  
              <tr>
                <th scope="row">No of correct Answers</th>
                <td class="text-center"><sup class="fw-bold text-success">{{correct}}</sup>/<sub>{{no_quest}}</sub></td>
              </tr>
              <tr>
                <th scope="row">No of wrong answers</th>
                <td class="text-center"><sup class="fw-bold text-danger">{{incorrect}}</sup>/<sub>{{no_quest}}</sub></td>
              </tr>
              <tr>
                <th scope="row">Time spent </th>
                <td class="text-center">{{session.seconds_to_hms}}</td>
              </tr>
              <tr>
                <th scope="row">Score</th>
                <td class="text-center"><b>{{session.score}}</b></td>
              </tr>
              <tr>
                <th scope="row">Teacher's remark</th>
                <td class="text-center">{% if session.passed %} <span class="text-success">Pass</span>{% else %} <span class="text-danger">Fail</span>{% endif %}</td>
              </tr>
  
            </tbody>
          </table>
        </div>
    </div>
    
  </div>
{% endblock content %}

{% block js %}
  <script>
            $.ajax({
                type: "GET",
                url : `{% url "session-correction-data" pk %}`,
                cache: true,
                success: function(success){
                  $(".spinner-border").addClass("d-none")
                  data = success.data
                  
                  data.forEach((question, index) => {
                    let tag = ""
                    mark_icon = ""
                    const map_option_key = Object.keys(question.options[0])
                    if (question.choice){
                        if (question.choice == question.answer){
                            tag = "correct"
                          }
                        else{
                          tag = "wrong"
                        }
                    }else{
                      
                      mark_icon = "<i class=' mt-2 bi-exclamation-circle fa-2xl fa-beat text-danger'></i>"
                    }
                    const questionHTML = `
                      <div class="question mt-3">
                        
                        <div class="d-flex p-1 align-items-start">
                          <b>${index + 1}).</b> &nbsp;
                          <div class="ms-2 w-100">${question.question} </div> ${mark_icon}
                        </div>
                        
                       
                        <div class="mt-1 ms-3">
                          <div class="d-flex justify-content-between">
                            <span class="${question.choice? map_option_key[0] ==question.choice ? tag : map_option_key[0] ==question.answer ? "correct": "": map_option_key[0] ==question.answer ? "correct": ""}">
                              A: ${question.options[0].A} </span> 
                          </div>				
                          <div class="d-flex justify-content-between">
                            <span class="${question.choice? map_option_key[1] ==question.choice ? tag : map_option_key[1] ==question.answer ? "correct": "": map_option_key[1] ==question.answer ? "correct": ""}">
                              B: ${question.options[0].B} </span> 
                          </div>				
                          <div class="d-flex justify-content-between">
                            <span class="${question.choice? map_option_key[2] ==question.choice ? tag : map_option_key[2] ==question.answer ? "correct": "": map_option_key[2] ==question.answer ? "correct": ""}">
                              C: ${question.options[0].C} </span> 
                          </div>				
                          <div class="d-flex justify-content-between">
                            <span class="${question.choice? map_option_key[3] ==question.choice ? tag : map_option_key[3] ==question.answer ? "correct": "": map_option_key[3] ==question.answer ? "correct": ""}">
                              D: ${question.options[0].D} </span> 
                          </div>				
                          
                          <div class="accordion custom-accordion" id="expalnation-accordion-${index}">
                              <div class="accordion-item">
                                <p class="accordion-header" id="headingOne">
                                  <button class="accordion-button fw-bold p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-${index}" aria-expanded="true" aria-controls="collapseOne">
                                    Explanation
                                  </button>
                                </p>
                                <div id="collapseOne-${index}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#expalnation-accordion-${index}">
                                  <div class="accordion-body">
                                    ${question.explanation ? question.explanation : "<p class='text-center'>No explanation at the moment</p>"}
                                  </div>
                                </div>
                              </div></div>
                          </div>
                  
                    </div>

                    `;
                    document.getElementById("question-container").innerHTML += questionHTML;
                    
                  });
                    
                }, 
                error: function(error){
                    alert("Error fetching data data")
                }
            })
   
  </script>
{% endblock js %}

