{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="{% static "css/styles.css" %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static "css/exam.css" %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body>
        <div class="card">
            <div class="pb-2 sticky-top mb-1 mx-auto"
                style="background:#d1e7dd;transform:skewX(20deg);min-height:60px;margin-left:10px;margin-right:10px;border-left:20px double white;border-right:20px double white; top:20px; width:96%">

                <div class="container-fluid " style="transform:skewX(-20deg);">
                    <!--space for logo-->

                    <div class="float-end w-50" id="timer">
                        <h3 class="text-center">Time remaining:</h3>
                        <div class="progress mt-2 fs-4" style="height: 30px;">
                            <div class="progress-bar progress-bar-striped py-2" id="bar" style="width:100%;">
                                <span id="timer">1 : 00 : 00</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9 mx-auto">
                        <div class="card">
                            <div class="container mb-5">
                                <div class="row" id="quiz-container">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <script>
            const examDataUrl = "{% url "exam-data" pk=request.session.value %}";
            const examSubmit = "{% url "exam-save" pk=request.session.value %}" 
        </script>
        <script src="{% static "js/exam1.js" %}"></script>
    </body>

</html>