{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="{% static "css/styles.css" %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static "css/exam.css" %}?biggest=123555">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    </head>



    <body id="question">
        <noscript>Your browser does not support JavaScript! or you might have turned off JavaScript</noscript>
        <div class="spinner-container d-none">
            <div class="spinner"></div>   
        </div>
        <div id="majorContainer">
            <div class="card px-2 sticky-top mb-3 mx-auto"
                style="background:#d1e7dd; border-left:20px double white;border-right:20px double white;">
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="row">
                            <div class="col-4">
                                <p class="fw-bold">Name:</p>
                            </div>
                            <div class="col-8">
                                <p>{{request.user.get_full_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="fw-bold">Title:</p>
                            </div>
                            <div class="col-8">
                                <p>{{exam.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="fw-bold">Subject:</p>
                            </div>
                            <div class="col-8">
                                <p>{{exam.subject}}</p>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="float-start mt-4" id="exam-name">
                        <h3 class="text-center">REL 30</h3>
                    </div> {% endcomment %}
                    <div class="col-sm-12 col-md-5">
                        <div class="mt-1" id="timer">

                            <p class="d-none d-md-block">Time remaining:</p>
                            <div class="progress fs-4"
                                style="height: 25px; border: 2px solid #d3d9df; background-color: white; border-radius: 20px">
                                <div class="progress-bar  progress-bar-striped py-2" id="bar"
                                    style="overflow: visible; width:100%;">
                                    <span class="fw-bold" style="color: #bfbfbf"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class=" px-2 pt-2" >
                <div id ="warning"></div>
                <div class="row">
                    <div class="col-xs-12  col-md-4 p-2 mx-auto">
                        <div class="container jumperbtn d-none d-md-block">
                            <div class="row md-screen">
                            </div>
                            <!-- jumper buttons -->
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-8">

                        <div class="container mt-1">
                            <div class="row" id="quiz-container">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.js"></script>
        <script>
            const check_storage_for_data = Boolean({{request.session.check_storage_for_data}})
            const examDataUrl = "{% url "exam-data" pk=exam.id %}";
            const examSubmit = "{% url "exam-save" pk=exam.id %}";
            const availableExams = "{% url "available-exam"  %}";
            const examDetails = {
                studentName: "{{ request.user.get_full_name }}",
                examName: "{{ exam.name }}",
                grade: "{{ exam.grade}}",
                subject: "{{ exam.subject}}",
                countQuestion: "{{exam.get_no_question }}",
                duration: "{{exam.seconds_to_hms }}",
                pass_grade: "{{exam.pass_mark}}",
            };        
        </script>
        <script src="{% static "js/exam.js" %}?page=12ssst"></script>
    </body>

</html>