{% extends "students/main_student.html" %}
{% load static %}
{% block content %}
    

    <div class="card">
        <div class="card-header">
            <h1 id="head">Student Exam</h1>
        </div>
        <div class="card-body" id="jaden"></div>
        <form action="" method="post" id="quiz-form">
            {% csrf_token %}
        <div class="card-body" id="quiz-box"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock content %}


{% block js_student %}
<script src="{% static "js/exam.js" %}" defer></script>
{% endblock js_student %}
