{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}All questions{% endblock title %}

{% block additional_head_css %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

{% endblock additional_head_css %}
{% block content %}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Teacher</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Questions</li>
    </ol>
</nav>
<div id="alert">
  {% comment %} notification {% endcomment %}
</div>
<div class="d-grid mt-3 gap-2 d-block">
    <button type="button" class="btn btn-primary js-create-question" >
        <i class="fas fa-plus fa-lg"></i> Add Question
    </button>
</div>


<div id="toolbar">
  <button id="remove" class="btn btn-danger" disabled >
      <i class="fa fa-trash"></i> Delete</button>
</div>
<!-- data-toggle="table" Activates bootstrap table without writing JavaScript.-->
<table
    id="table" {% comment %} instanciate the table  {% endcomment %}
    data-toggle="table"
    data-ajax = "ajaxRequest" {% comment "" %}request{% endcomment %}
    data-side-pagination="server" {% comment "" %}"server" or "client"{% endcomment %}
    data-pagination="true"
    data-pagination-pre-text="<"
    data-pagination-next-text=">"
    data-search="true"
    data-page-list = "[5, 25, 50, 100, 200, 400]"
    data-pagination-loop = "false"
    data-page-size = "25"   {% comment "" %}default no of rows{% endcomment %}
    data-cache= "false"


    data-toolbar="#toolbar"
    data-click-to-select="false" {% comment "" %}click a row to select{% endcomment %}
    data-unique-id="id" {% comment "" %}Indicate a unique identifier for each row.{% endcomment %}
    data-detail-view="true" {% comment "" %}to show a detailed view table{% endcomment %}
	  data-detail-view-by-click="false"
    data-detail-formatter="detailFormatter" {% comment "" %}to show detail view table.{% endcomment %}
>
  <thead>
    <tr>
      <th data-field="check" data-checkbox="true"></th>
      <th data-field="#" data-formatter="numberingFormatter">#</th>
      <th data-field="question" data-cell-style="questionCellStyle">Question</th>
      <th data-field="exam__name" data-cell-style="examCellStyle">Exam</th>
      <th data-field="answer">Answer</th>
      <th data-field="subject__name" >Subject</th>
      <th data-field="operate" data-formatter="operateFormatter"   data-events="operateEvents" data-align="center"></th> 
    </tr>
  </thead>

</table>


{% comment %} <div class="modal" id="addQuestion">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
        </div>
      </div>
    </div>
</div> {% endcomment %}

{% comment %} <form method="POST" id="question-data" action="{% url "create-myquestion" %}" class="js-question-create-form" novalidate> {% endcomment %}
<form method="POST" id="question-data" class="js-question-create-form">
  {% csrf_token %}
	<div class="modal fade" id="addQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content">

       
        
				<div class="modal-header ">
					<h4 class="modal-title text-center">Add Question</h4>
					<button type="reset" class="btn-close" data-bs-dismiss="modal" onclick="clearForm()"></button>
				</div>
				<div class="modal-body">
					{{form | crispy}}
          
				</div>
				<!-- Modal footer -->
				<div class="modal-footer d-flex justify-content-between">
					<button type="submit" class="btn btn-success"  value="false">Save</button>
					<button type="submit" class="btn btn-success"  value="true">Save and add another</button>
				</div>

        
			</div>
		</div>
	</div>
</form>

{% include "modal.html" with message="Are you sure you want to delete these question(s)?" %}
{% endblock content %}


{% block js %}
{{form.media}}
<script src="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.js"></script>





<script src="{% static "js/questions.js" %}?fefef=1eet9" defer></script>


{% endblock js %}