{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block additional_head_css %}
	<style>
		.table-responsive > .table .dropdown {
			position: static;
		  }
		  
		  .table-responsive > .table .dropdown > .dropdown-menu {
			border:.5px solid black;
			background-color: snow;
			left: auto !important;
			
			top: 13px !important;
		  }
	</style>
{% endblock additional_head_css %}

{% block content %}
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Teacher</a></li>
        <li class="breadcrumb-item active" aria-current="page">Closed exams</li>
    </ol>
</nav>

<div id="alert">
    {% comment %} notification {% endcomment %}
</div>




{% for grade in grades %}
        
<h3 class=" text-center">{{grade}}</h3>
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead class="table-secondary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name of exam</th>
            <th scope="col">Subject</th>
            <th scope="col">Duration</th>
            <th scope="col" >Questions</th>
            <th  scope="col" >End Date</th>
            <th  scope="col" class= "text-center">STATUS</th>
            <th  scope="col" class="table-dark text-center align-middle" >ACTION</th>
            {% comment %} <th colspan="2" scope="col">Action</th> {% endcomment %}
          </tr>
        </thead>
        <tbody>
            {% for exam in exams %}
            
                {% if exam.grade == grade %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td class="user-select-all" style="min-width: 150px;">{{exam.name}}</td>
                        <td>{{exam.subject}}</td>
                        {% comment %} <td>{{exam.duration }}</td> {% endcomment %}
                        <td>{{exam.seconds_to_hms }}</td>
                        <td class= "text-center">{{exam.get_no_question }}</td>
                        <td style="min-width: 180px;">{{exam.end_date }}</td>
                        
                        <td class="text-center 
                            {% if exam.get_exam_status == "active" %} text-success
                            {% elif exam.get_exam_status == "pending" %} text-warning
                            {% endif %} ">
                            <i class="fas fa-circle fa-sm"></i>
                            <span class="d-none d-md-inline-block"> {{exam.get_exam_status}}</span>
                        </td>

                        <td style="min-width: 150px;">
                            <div class="d-flex justify-content-center"   >
								
                              <div class="dropdown">
                                <a role="button" class="text-dark" id="action" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                                    <ul class="dropdown-menu mx-auto" aria-labelledby="dropdownMenuButton1" >
                                        <li><a class="dropdown-item" href="{% url "exam-dashboard" exam.id %}"> <i class="fas fa-eye"></i> View exam</a></li>
                                        
                                        <li><a role="button" class="dropdown-item deleteBtn" data-name="{{exam.name}}" data-id="{{exam.id}}"><i class="fas fa-trash-alt text-danger"></i> Discard exam</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-check text-success"></i> Mark exam as concluded</a></li>
                                    </ul>
                              </div>



                            </div>

                            


                          
                        </td>

                        
                        {% comment %} <td><a href="#" class="btn btn-danger btn-sm delete" data-id="{{exam.id}}" data-name="{{exam.name}}" 
                            data-url = "{% url "delete-exam" exam.id %}" data-bs-toggle="modal" data-bs-target="#delete_modal">
                            <i class="fas fa-trash-alt"></i>
                        </a></td> {% endcomment %}
                       
                  </tr>
                {% endif %}
            
            {% endfor %}
        </tbody>
      </table>

</div>
{% empty %}
  <p class="text-center fs-3 border-bottom">No concluded exam yet</p>
{% endfor %}
{% endblock content %}

{% block js %}
    <script>

      function showModal(examName){
        let modalHTML = `<div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Exam?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Deleting <b>${examName} </b> will mark it as deleted; however, it will remain in the database for record-keeping purposes.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger rounded-pill" id="confirmDelete">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>`

      
         // Append modal to body
            document.body.insertAdjacentHTML('beforeend', modalHTML);

;

      }

     let delBtns = $(".deleteBtn")
        let id
    
        delBtns.on("click", function(event){
            let id = event.currentTarget.getAttribute("data-id")
            let examName = event.currentTarget.getAttribute("data-name")
            showModal(examName)

                        // Initialize modal
            const modalElement = document.getElementById('dynamicModal');
            const modal = new bootstrap.Modal(modalElement);

            // Show the modal
            modal.show();

            // Event listener to remove the modal from the DOM after it's closed
            modalElement.addEventListener('hidden.bs.modal', () => {
                modalElement.remove();
            })

            $("#confirmDelete").on("click", function(){
              let data ={csrfmiddlewaretoken: "{{csrf_token}}", id :id}
              $.ajax({
                  type:"POST",
                  url: window.origin+`/teacher/exam/delete/`,
                  data: data,
                  success: function (response){
                      if(response.message =="deleted"){
                              // Redirect to the same page with a query parameter to indicate success
                              window.location.href = "{% url 'closed-exam' %}?deleted=true";    
                                                              
                      }
                  },
                  error: function(error){
                      console.log(error)
                  }
              })
              modal.hide()
            })
            
        })
    

    
    
    // Code to execute after refresh, only if the deletion was successful
    $(document).ready(function () {
        if (window.location.search.includes("deleted=true")) {
          createToast("success", "Exam deleted");
          let currentUrl = window.location.href;
          let queryParam = "?deleted=true";
          let newUrl = currentUrl.replace(queryParam, "");
          window.history.replaceState(null, '', newUrl);
        }
    });
        
    </script>
{% endblock js %}