{% extends "main.html" %}


{% block additional_head_css %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<style>
	#ranking th:nth-child(4), 	#ranking td:nth-child(4) {
	  max-width: 100px; /* Adjust the value as needed */
	  max-width: 100px;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  text-align: center;
	}
	#nav_status  .nav-link{
		min-width: 150px;
	} 
	#nav_status  .nav-link.active{
		color: white;
		background-color: #0d6efd;
	} 
	/* Custom CSS */
	@media (min-width: 768px) { /* Adjust the breakpoint as needed */
		.chart-container {
			min-width: 600px; /* Set the minimum width for larger screens */
		}
	}

	/* Custom CSS to enlarge tooltip width */
	.tooltip-inner {
		padding: 10px;
		max-width: 1000px !important; //define whatever width you want
	}

	.fraction {
		display: inline-block;
		vertical-align: middle;
	}
	.fraction sup {
		font-size: 0.8em;
		vertical-align: super;
	}
	.fraction sub {
		font-size: 0.8em;
		vertical-align: sub;
	}
	#aiExamSummary .modal-content{
		min-height: 400px;
	}
	.custom-loader {
		width:50px;
		height:50px;
		border-radius:50%;
		padding:1px;
		background:conic-gradient(#0000 10%,#766DF4) content-box;
		-webkit-mask:
			repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
			radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
		-webkit-mask-composite: destination-in;
		mask-composite: intersect;
		animation:s4 1s infinite steps(15);
		}
	@keyframes s4 {to{transform: rotate(1turn)}}

	.progress-bar-container {
		position: relative;
		
	}
	.progress {
		height: 20px; 
	}

	.progress-bar {
		line-height: 20px; 										
	}
	.progress-bar-text {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		text-align: center;
		color: #fff; /* Adjust the color based on your needs */
	}

</style>
{% endblock additional_head_css %}

{% block content %}

<div class="d-grid gap-2 mb-3">
	<button type="button" class="btn btn-success" onclick="createModal()">
        <i class="fas fa-robot fa-lg"></i> Get AI Summary
    </button>
</div>

<div class="accordion mb-2" id="accordionExample">
	<div class="accordion-item">
	  <h2 class="accordion-header" id="headingOne">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  >
		  Student Ranking
		</button>
	  </h2>
	  <div id="collapseOne" class="accordion-collapse collapse show"  data-bs-parent="#accordionExample">
		<div class="accordion-body">
			<div class="table-responsive">
				<table class="table table-sm table-hover " id="ranking">
					<thead>
						<tr>
							<th></th>
							<th>Name of student</th>
							<th>Score</th>
							<th>Misconduct</th>
						</tr>
					</thead>
                    <tbody>
                        {% for session in sessions  %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url "student-performance" exam.id %}?student={{session.user.get_full_name}}&id={{session.user.id}}" target="_blank" rel=noopener>{{session.user.get_full_name}}</a></td>
                            <td>{{session.score}}</td>
                            <td class="text-center">{% if session.misconduct %}<i class="fas fa-exclamation-triangle text-danger"></i>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
				</table>
			</div>
			
		
		</div>
	  </div>
	</div>

	<div class="accordion-item">
	  <h2 class="accordion-header" id="headingTwo">
		
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#topicAnalysis"  >
		  Topic Analysis 
		</button>
	  </h2>
	  <div id="topicAnalysis" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
		<div class="accordion-body">
            <!-- Use Bootstrap's grid system for responsiveness -->
			<div class="d-flex justify-content-between w-100">
				<button class="btn btn-light border" id="downloadBtn"><i class="fas fa-download"></i> Download Chart</button>
				<a href="{% url "view-exam" pk %}" class="me-2">Update topic</a>
			</div>
            <div class="row">
                <div class="col">
                    <div class="chart-container" style="min-height: 400px; overflow-x: auto;">
                        <canvas id="topicChart"><p>Your browser doesn't support canvas</p></canvas>
                    </div>
                </div>
            </div>
        </div>
	  </div>
	</div> 

	<div class="accordion-item">
	  <h2 class="accordion-header" id="headingThree">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
			Question Summary <i class="ms-1 fas fa-question-circle custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Difficulty = <span class='fraction'><sup>(No. of correct × 100)</sup> / <sub>(No. attempted)</sub></span>" data-bs-html="true"></i>
		  </button>
	  </h2>
	  <div id="collapseThree" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
		<div class="accordion-body">
			<table
			id="table"
			data-toggle="table"
			data-ajax="ajaxRequest"
			data-side-pagination="client"
			data-pagination="false">
			<thead>
				
				<tr>
					<th data-field="id">Question ID</th>
					<th data-field="question" data-cell-style="questionCellStyle">Question </th>
					<th data-field="pattern" data-formatter="patternFormatter" data-align="center">Answer Pattern</th>
					<th data-field="details" data-formatter="detailsFormatter" data-align="center">Details</th>
					<th data-field="difficulty" data-formatter="difficultyFormatter" data-align="center">Difficulty <i class="ms-1 fas fa-question-circle custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Difficulty = <span class='fraction'><sup>(No. of correct × 100)</sup> / <sub>(No. attempted)</sub></span>" data-bs-html="true"></i></th>
				</tr>
			</thead>
		</table>
		</div>
	  </div>
	</div>
</div>


	



		{% comment %} {% include "modal.html" with type_of_modal="studentDetail" %}

		<div class="modal" id="{{type_of_modal |default:"delete"}}"> {% endcomment %}
		<div class="modal" id="studentDetail">
			<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
			  <div class="modal-content" style="min-height: 98vh;">
		  
				<!-- Modal Header -->
				<div class="modal-header ">
				  <h4 class="modal-title text-center">Question details</h4>
				  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
		  
				<!-- Modal body -->
				<div class="modal-body" id="modal-body-confirm" >
					
				</div>
		  
				<!-- Modal footer -->
				
		  
			  </div>
			</div>
		</div>
{% endblock content %}

{% block js %}
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>



<script defer>
	
	

	 // Initialize tooltips with HTML content enabled
	 var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	 var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
	   return new bootstrap.Tooltip(tooltipTriggerEl, {
		 html: true
	   })
	 })

	let id
	let topics



		function ajaxRequest(params) {
				id = "{{pk}}"
				var url = `${window.origin}/teacher/exam-data/${id}/` 
				$.get(url).then(function (res) {
					params.success(res)
					topics = res.topics
					plotTopic(topics)
				})
		}

		function patternFormatter(index, row){
				pattern = `
						${row.correct} <span class="fw-bold text-success">Correct</span><br>
						${row.incorrect} <span class="fw-bold text-danger">Inorrect</span><br>
						${row.unanswered} <span class="fw-bold text-secondary">Unanswered</span><br>
				`
				return pattern
		}

		function detailsFormatter(index, row){
				return `<span class="btn btn-secondary border rounded-circle" id="seeDetails" 
										data-bs-toggle="modal" data-bs-target="#studentDetail" data-index='${JSON.stringify(row)}'><i class="fas fa-file-alt"></i>
								</span>`
		}
		

		function difficultyFormatter(index, row){
			let color = ""
			difficulty_width = Math.round( row.incorrect * 100 / (row.correct + row.incorrect))
			
			if (difficulty_width <=40){
				color = "success"
			}else{
				if (difficulty_width>= 71){
					color = "danger"
				}else{
					color = "warning"
				}
			}
			return `
					<div class="progress-bar-container">
    <div class="progress border border-${color}">
        <div class="progress-bar bg-${color} " style="width: ${difficulty_width}%;" role="progressbar" aria-valuenow="${difficulty_width}" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar-text text-dark">
            ${difficulty_width}%
        </div>
    </div>
</div>
					`
		}

		// function to group students as correct, incorrect and unanswered
		const students = (data_obj, x) => {

			if (Object.keys(data_obj[x]).length > 0){
				let students = ``
				for (keys in data_obj[x]){
					students += `<li class="ps-3"><a href="{% url "student-performance" pk %}?student=${data_obj[x][keys]}&id=${keys}">${data_obj[x][keys]}</a></li>`
				}
			 
				return `<ol>${students}</ol>`
			}else{
				return "No student"
			}
			
		}

		//function to show options and option choice forloop.counter
		const option_choice_count =(x, y) =>{
			let question_option = `<div class="mt-2 ps-1">`

			for (let keys in x){
				

				question_option += `<div class="d-flex justify-content-between align-items-center">
									<span class="${keys === y ? 'correct' : ''} me-3">${keys}</span>
									<b class="fs-4">${x[keys]}</b>
								</div>`
			}
			question_option += "</div>"
			return question_option
		}

		var  student_detail= document.getElementById("studentDetail")
		if (student_detail){
				student_detail.addEventListener('show.bs.modal', event => {


						// Button that triggered the modal
					 const button = event.relatedTarget
					 var data = button.getAttribute("data-index")
					 var data_obj = JSON.parse(data)
					
					 //var obj = JSON.parse(x)
					 
					 $(".modal-body").html(`
					
					<div id ="question-container">
						<p class="fs-6 text-justify" >${data_obj.question}</p>
						${option_choice_count(data_obj.option_count, data_obj.answer)}
					</div>

					 <ul id="nav_status" class="mt-2 nav nav-pills nav-fill gap-2 p-1 small bg-light rounded-2 shadow-sm border bd-dark" role="tablist" style="flex-wrap: nowrap; overflow-x: auto; overflow-y:hidden;">
						<li class="nav-item">
							<a class="nav-link active" data-bs-toggle="tab" href="#correct">Correct <span class="badge text-bg-secondary">${data_obj.correct}</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#incorrect">Incorrect <span class="badge text-bg-secondary">${data_obj.incorrect}</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#unanswered">Unanswered <span class="badge text-bg-secondary">${data_obj.unanswered}</span></a>
						</li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div id="correct" class="container tab-pane active"><br>
								${students(data_obj, "correct_student")}                 
						</div>

						<div id="incorrect" class="container tab-pane fade"><br>
								${students(data_obj, "incorrect_student")}
						</div>
						<div id="unanswered" class="container tab-pane fade"><br>
								${students(data_obj, "unanswered_student")}
						</div>
					</div>
					 
					 `)
					
			 })   
		}

		function questionCellStyle(value, row, index) {
			return {
				css: {
					"min-width": "360px",
				},
			};
		}

		//----------------------------------topic-----------------------------------
		function plotTopic(topics){
			const ctx = document.getElementById('topicChart').getContext('2d');
			ctx.fillStyle = 'white'; // Set the background color to white
			ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);

			const labels = Object.keys(topics);
			const topics_label = labels.map(topic => `${topic} (${topics[topic].no_questions})`);
			const correctData = labels.map(topic => topics[topic].correct);
			const incorrectData = labels.map(topic => topics[topic].incorrect);
			const unansweredData = labels.map(topic => topics[topic].unanswered);

			const myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: topics_label,
					datasets: [{
						label: 'Correct',
						data: correctData,
						backgroundColor: 'rgba(0, 255, 0, 0.5)',
						borderColor: 'rgba(0, 255, 0, 1)',
						borderWidth: 1
					}, {
						label: 'Incorrect',
						data: incorrectData,
						backgroundColor: 'rgba(255, 0, 0, 0.5)',
						borderColor: 'rgba(255, 0, 0, 1)',
						borderWidth: 1
					}, {
						label: 'Unanswered',
						data: unansweredData,
						backgroundColor: 'rgba(0, 0, 255, 0.5)',
						borderColor: 'rgba(0, 0, 255, 1)',
						borderWidth: 1
					}]
				},
				options: {
					responsive: true,
					maintainAspectRatio: false,
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							},
							scaleLabel: {
								display: true,
								labelString: 'Total no. of students ({{session_count}})', // Replace with your Y-axis title
								fontColor: '#666', // Optional: change the font color
								fontSize: 16, // Optional: change the font size
								fontStyle: 'bold' // Optional: set the font style
							},
						}]
					}
				}
				
			});

			// Event listener for the download button
			document.getElementById('downloadBtn').addEventListener('click', function() {
				// Assuming 'myChart' is the variable holding your Chart.js instance

				var canvas = document.getElementById('topicChart');
				var url = canvas.toDataURL('image/png');

				// Creating an anchor element to trigger download
				var link = document.createElement('a');
				link.href = url;
				link.download = 'chart.png'; // Set the download filename
				link.click(); // Trigger the download
			});
		}

		
	function createModal(){

		$.ajax({
			type: "POST", 
			url: '{% url "AI-exam-explanation" %}',
			data: {"csrfmiddlewaretoken":"{{ csrf_token }}","id": "{{exam.id}}"},
			success: function(success){
				$("#aiExamSummary .modal-body").html(success.summary)
				$("#pdfBtn").attr("disabled", false)
				
			},
			error: function(error){
				alert("Ooops... Something happened")
			}
		}) 
		let modalHTML = `
			<div class="modal" tabindex="-1"  id="aiExamSummary" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="custom-loader"></div><h2>Generating... this might take a few seconds</h2>
						</div>
						<div class="modal-footer d-grid">
							<button class="w-100 btn btn-success" onclick="generatePDF()" id="pdfBtn" disabled>Generate PDF</button>
						</div>
						
					</div>
				</div>
			</div>
		`

		// Append modal to body
		document.body.insertAdjacentHTML('beforeend', modalHTML);

		// Initialize modal
		 const modalElement = document.getElementById('aiExamSummary');
		 const modal = new bootstrap.Modal(modalElement);
	   
		// Show the modal
		 modal.show();


		// Event listener to remove the modal from the DOM after it's closed
		modalElement.addEventListener('hidden.bs.modal', () => {
			modalElement.remove();
		});

		
		
		
	}



	function generatePDF() {
		// let accordionBodyContent = document.querySelector('#collapseThree .accordion-body').innerHTML;
		const aiexplanationHTML = document.querySelector("#aiExamSummary .modal-body").innerHTML
		const opt = {
            margin:       1,
            filename:     'Report-file.pdf',
            image:        { type: 'jpeg', quality: 0.98 },
            html2canvas:  { scale: 2 },
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' },
            pagebreak:    { mode: ['avoid-all', 'css', 'legacy'] }
        };
		html2pdf().from(aiexplanationHTML).set(opt).toPdf().get('pdf').then(function (pdf) {
            var totalPages = pdf.internal.getNumberOfPages();

            for (i = 1; i <= totalPages; i++) {
                pdf.setPage(i);
                pdf.setFontSize(10);
                pdf.text('Page ' + i + ' of ' + totalPages, pdf.internal.pageSize.getWidth() - 10, pdf.internal.pageSize.getHeight() - 10);
            }
        }).save();
	  }							

	



</script>
{% endblock js %}