{% extends "main.html" %} {% load static %} 

{% block title %}Exam monitoring{% endblock title %}

{% block additional_head_css %}
<link rel="stylesheet" href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css"> <!--resize-->
<link href="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/dragtable.css" rel="stylesheet"> <!--reorder-->


<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link href="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css" rel="stylesheet"> <!--fixed column-->
{% endblock additional_head_css %} 

{% block content %}
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Teacher</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Live exam monitoring
        </li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12">
        <div class="card p-2">
            <div class="card-title">
                <h2 class="text-center">Exam: {{exam.name}}</h2>
                <div class="row">
                    <div class="col-6">
                        <span><span class="fw-bold">Subject:</span> {{exam.subject.name}}</span><br />
                        <span><span class="fw-bold">No. of question:</span> {{questions.count}} </span><br />
                        <span><span class="fw-bold">Time:</span> 30 mins </span>
                    </div>
                    <div class="col-6 text-end">
                        <span class="btn btn-primary"><span class="fw-bold">Time:</span> 30 mins
                        </span>
                        <span class="btn btn-primary"><span class="fw-bold">Last updated:</span> 30 mins
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body pb-0">
                            <div class="">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="mt-2 fas fa-users fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <span class="d-flex justify-content-end">Total Students</span>
                                        <span class="fs-1 d-flex justify-content-end" id="total-student">{{total_student}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body pb-0">
                            <div class="">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="mt-2 fas fa-calculator fa-3x"></i>
                                        
                                        <!-- <i class="mt-2 fas fa-graduation-cap fa-3x"></i> -->
                                    </div>
                                    <div class="col-9">
                                        <span class="d-flex justify-content-end">Average Score</span>
                                        <span class="fs-1 d-flex justify-content-end" id="average">{{avg_score}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body pb-0">
                            <div class="">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="mt-2 fas fa-calendar-alt fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <span class="d-flex justify-content-end">Total Absent Students</span>
                                        <span class="fs-1 d-flex justify-content-end">30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="card bg-secondary text-white mb-4">
                        <div class="card-body pb-0">
                            <div class="">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="mt-2 fas fa-file-alt fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <span class="d-flex justify-content-end">Total No. Submitted</span>
                                        <span class="fs-1 d-flex justify-content-end" id="submitted">{{completed}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="card bg-info text-white mb-4">
                        <div class="card-body pb-0">
                            <div class="">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="mt-2 fas fa-check fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <span class="d-flex justify-content-end">Total No. Passed</span>
                                        <span class="fs-1 d-flex justify-content-end" id="passed">{{passed}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body pb-0">
                            <div class="">
                                <div class="row">
                                    <div class="col-3">
                                        <i class="mt-2 fas fa-times-circle fa-3x"></i>
                                    </div>
                                    <div class="col-9">
                                        <span class="d-flex justify-content-end">Total No. Fail</span>
                                        <span class="fs-1 d-flex justify-content-end" id="fail">{{fail}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<table
  id="table"
  data-toolbar="#toolbar"
  data-ajax="ajaxRequest"
  data-search="true"
  data-visible-search="true"
  data-side-pagination="client"
  data-server-sort="false"
  data-sort-reset= "true"
  data-pagination="true"
  data-show-button-icons="true"
  data-show-columns="false"

  data-show-toggle="true"
  data-resizable="true"
  data-reorderable-columns="true"
  data-fixed-columns= "true",
  data-fixed-number = "1"
  
  
  data-show-fullscreen="true"
  data-show-refresh="true"
  data-search-highlight = "true"
  data-show-button-text ="false"
  data-show-footer="false"
  data-sort-class="table-active"
  data-thead-classes="table-light"

  >
  <thead> <!--id used for javascript-->
    <tr>
        <th data-field="user" data-visible="false"></th>
        <th data-field="name" data-sortable="true" data-formatter="nameDetailFormatter"data-width="25" data-width-unit="%">Student Name</th>
        <th data-field="score" data-sortable="true" data-align="center">Score</t>
        <th data-field="time_started" data-sortable="true" data-align="center" data-formatter="dateFormatter"data-width="25" data-width-unit="%">Time started</th>
        <th data-field="elapsed_time" data-sortable="true" data-align="center">Time spent</th>
        <th data-field="completed" data-sortable="true" data-align="center" data-formatter="completedIconFormatter">Completed</th>
        <th data-field="misconduct" data-sortable="true" data-align="center" data-formatter="misconductFormatter">Misconduct</th>
        
       
    </tr>
  </thead>
</table>


{% endblock content %} 

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.js"></script> <!--reorder-->
<script src="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/jquery.dragtable.js"></script><!--reorder-->
<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script><!--resize-->
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.min.js"></script> <!--reorder-->
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script><!--fixed column-->






<script>

    function ajaxRequest(params) {
        var url = "http://127.0.0.1:8000/teacher/session-data/1/"
        $.get(url).then(function (res) {
            var data = res.rows
            var submitted = 0
            var passed = 0
            var score = 0
            var avg = 0
            var fail = 0
            for (let i=0 ; i<data.length; i++){
                let d = data[i]
                if (d.completed === true){
                    submitted++
                    score = score + d.score
                    avg = (score/submitted).toFixed(1)
                    d.score> res.pass_mark ? passed++ : fail++
                }
            }
            $('#submitted').html(submitted)
            $('#passed').html(passed) 
            $('#average').html(avg)
            $('#fail').html(fail)
            
            params.success(res)
        })  
    }
    
  

    function nameDetailFormatter(index, row){
        name = row.completed == true?`<a href="{% url "home" %}" target="_blank">${row.name}</a>` : row.name
        return name
    }
    function dateFormatter(value, row) {
        var django_timestamp =    (row.time_started) ?  new Date (row.time_started): null;
        var iso_string  = django_timestamp ?  django_timestamp.toUTCString  (): "-";
        // return  `<span class="text-success"><i class="fas fa-user-alien"></></span>` 
        return iso_string
    }
    function misconductFormatter(value, row){
        let misconduct
        if (value) {
            misconduct  = `<span class="text-danger"><i class="fas fa-exclamation-triangle"></i></span>`
        }else{
            misconduct = "-"
        }
        
            return misconduct
    }
    function completedIconFormatter(value, index){
        let status
        switch (value) {
            case true:
                status = `<span class="text-success"><i class="fas fa-circle-check"></i></span>`
                break;
            case false:
                status = `<span class="text-warning"><i class="fas fa-hourglass-half"></i></span>`
                break;
        
            default:
                status= "-"
                break

        }
            return `${status} `

    }
    
    
    
    
    
    
    var $table = $('#table')

    $table.bootstrapTable({
        icons: {refresh : 'bi-arrow-repeat'},
        
    })
    $table.bootstrapTable('updateFormatText', 'formatSearch', 'Enter keywords...')

    
    
  </script>
{% endblock js %}

