{% load static %}

{% include "navbar.html" %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/analysis.css' %}">
{% endblock additional_css %}


<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        {% block sidebar %}
        <!--sidebar-->
        {% include "sidebar.html" %}
        <!--end of sidebar-->
        {% endblock sidebar %}

    </div>

    <div id="layoutSidenav_content">
        <!--main body-->
        <main>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-2 mx-2 mb-0 py-1" role="alert">
                {{message}}.
                <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}



            <!--block content-->
            <div class="container-fluid pt-3">
                <!--<div class="card mb-4 mt-3 p-5">
            </div>-->
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Teacher</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Analysis</li>
                    </ol>
                </nav>

                <select class="form-select mb-4 bg-secondary text-white" onchange='print()' name="exam">
                    <option selected>Select an exam for summary</option>
                    {% for exam in exams %}
                    <option value="{{exam.id}}">{{exam}}</option>
                    {% endfor %}
                    <option value="9">Bread</option>
                    <option value="4">Cane</option>
                    <option value="2">Feed</option>
                </select>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-users fa-3x me-3 align-self-center"></i>
                                    <div class="text-end">
                                        <h5 class="card-title">Total Students</h5>
                                        <p class="card-text display-4">{{total_student}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-white bg-dark  mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-hourglass fa-3x me-3 align-self-center"></i>
                                    <div class="text-end">
                                        <h5 class="card-title">Completed</h5>
                                        <p class="card-text display-4">{{completed}}/{{total_student}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-white bg-success mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-check fa-3x me-3 align-self-center"></i>
                                    <div class="text-end">
                                        <h5 class="card-title">Passed</h5>
                                        <p class="card-text display-4">{{passed}}/{{completed}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-white bg-danger mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-exclamation-triangle fa-3x me-3 align-self-center"></i>
                                    <div class="text-end">
                                        <h5 class="card-title">Fail</h5>
                                        <p class="card-text display-4">{{fail}}/{{completed}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-white bg-warning mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-ban fa-3x me-3 align-self-center"></i>
                                    <div class="text-end">
                                        <h5 class="card-title">Exam Infringements</h5>
                                        <p class="card-text display-4">{{misconduct}}/{{completed}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="rows">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center">
                                <i class="fas fa-chart-bar me-1"></i>
                                <select name="" id="category" class="ms-auto" name="" onchange="jake(this)">
                                    <option value="pie">pie</option>
                                    <option value="bar">Bar</option>
                                    <option value="doughnut">Doughnut</option>
                                </select>
                            </div>
                            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--block content-->



        </main>
        <!--end of body-->

        <!--footer-->
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Powered by SKODAJI 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
        <!--end of footer-->
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="{% static "js/scripts.js" %}"></script> <!--Cobtrols toggling-->

<script>
    let exam = document.getElementsByName("exam")[0]
    function print() {
        console.log(exam.value)
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
    const ctx = document.getElementById('myBarChart');
    let myChart
    function jake(x) {
        let cat = document.getElementById("category")
        if (myChart){
            myChart.destroy();
        }
        myChart = new Chart(ctx, {
            type: `${x.value ? x.value : x}`,
            data: {
                labels: ["Passed", "Total student"],
                datasets: [{
                    label: '# of Votes',
                    data: [2, 10],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
       
    }
    jake("pie")
</script>


</body>

</html>