{% extends "main.html" %}

{% block additional_head_css %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<style>
#additionalComments {
    transition: height 0.2s;
    overflow: hidden;
}

</style>


{% endblock additional_head_css %}

{% block additional_head_script %}
<!-- <script src="https://cdn.tiny.cloud/1/r7z0yb5plbbo6nzqdonnxk26asodg49c3a0p0jk8d2rp6eg2/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script> -->
 <script src="/static/tinymce/tinymce.min.js"></script>
 <script src="/static/django_tinymce/init_tinymce.js"></script>
{% endblock additional_head_script %}

{% block content %}
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Teacher</a></li>
        <li class="breadcrumb-item active" aria-current="page">Question</li>
    </ol>
</nav>


<div id="alert">
    {% if  show_no_question_warning %}
        <div class="auto-close alert alert-danger alert-dismissible fade show py-1" role="alert" >
            <i class="fas fa-exclamation-triangle fa-sm"></i> 
            "{{exam.name}}" is currently <b>ACTIVE</b>, but has no question(s) attached. Please consider either adding questions or deleting it.
        </div>
    {% endif %}
    
</div>



<h2 class="mt-2">{{exam.subject.name}} | <code>{{exam.name}}</code></h2>

<div class="d-grid gap-2 d-md-block">
    {% if exam.get_exam_status == "active" and exam.ready is False %} 
        <button id="add" class="btn btn-primary " disabled onclick="addQuestionToExam()">
            <i class="fa fa-plus"></i> Add
        </button>
        <button id="remove" class="btn btn-secondary" disabled onclick="removeQuestionFromExam()">
            <i class="fa fa-minus"></i> Remove
        </button>
    {% elif  exam.get_exam_status == "pending"   %}
        <button id="add" class="btn btn-primary " disabled onclick="addQuestionToExam()">
            <i class="fa fa-plus"></i> Add
        </button>
        <button id="remove" class="btn btn-secondary" disabled onclick="removeQuestionFromExam()">
            <i class="fa fa-minus"></i> Remove
        </button>
    {% endif %}

    {% if update_topic %}
    <form action="" id="update_topic">      
        <div class="input-group my-3 mb-3">                
            <select name="topic" class="form-select" aria-label="Default select example" required>
                <option value="" disabled selected >--------------------</option>  
                {% for grade, topics in topics_grouped_by_grade.items %}  
                    <optgroup label="{{ grade }}">
                        {% for topic in topics %}
                            <option value="{{topic.id}}">{{topic.name}}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %} 
            </select>        
            <button disabled class="btn btn-outline-primary" type="submit" id="button-addon2">Update</button>
        </div>
    </form>
    {% endif %}
</div>

 


<div id="toolbar" class="{% if exam.get_exam_status != "pending" and exam.ready is True %} d-none {% endif %}">
    <label class="mt-2">
        <input type="checkbox" name="iconSize" value="0" id="id_unassigned">
        <code>Unassigned questions</code>
    </label>
</div>
<table
    id="table" {% comment %} instanciate the table  {% endcomment %}
    data-toggle="table"
    data-ajax = "ajaxRequest" {% comment "" %}request{% endcomment %}
    data-side-pagination="server" {% comment "" %}"server" or "client"{% endcomment %}
    data-pagination="true"
    data-pagination-pre-text="<"
    data-pagination-next-text=">"
    data-search="true"
    data-page-list = "[5, 25, 50, 100, 200, 400,]"
    data-pagination-loop = "false"
    data-page-size = "100"   {% comment "" %}default no of rows{% endcomment %}
    data-cache= "false"

    data-search-highlight ="true"
    data-toolbar="#toolbar"
    data-click-to-select="false" {% comment "" %}click a row to select{% endcomment %}
    data-unique-id="id" {% comment "" %}Indicate a unique identifier for each row.{% endcomment %}
    data-detail-view="true" {% comment "" %}to show a detailed view table{% endcomment %}
	  data-detail-view-by-click="false"
    data-detail-formatter="detailFormatter" {% comment "" %}to show detail view table.{% endcomment %}

    data-server-sort="false"
    data-sort-reset= "false"
>
    <thead>
        <tr>


        <th data-field="check" data-checkbox="true"></th>
        <th data-field="#" data-formatter="numberingFormatter">#</th>
        <th data-field="question">Question</th>
        <th data-field="topics__name">Topic</th>
        <th data-field="status" data-formatter="statusFormatter" data-align="center">Assigned</th>
        <th data-field="explaination" data-formatter="explanationButton" data-events="operateEvents">Action</th>
       
        </tr>
    </thead>

</table>

{% endblock content %}

{% block js %}
<script src="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.js"></script>

<script>
    var subject = "{{exam.subject.id}}"
    var exam_id = "{{exam.id}}"
    let request_params = {exam: exam_id, subject:subject, unassigned: $("#id_unassigned").val()}
    var $table = $('#table')
    var $add = $('#add')
    var $remove = $('#remove')
    var $update_topic_form = $('#update_topic')
    let nos 

    let selections 
    
    

    function ajaxRequest(params) {
        var url = location.origin + '/teacher/question-data'
        
        $.get(url+ '?' + $.param({...params.data,...request_params })).then(function (res) {
            nos = res.offset //for numbering
            params.success(res)
            selections = []
            $add.prop("disabled", true)
            $remove.prop("disabled", true)
        })
    }


    //format the question view
    function detailFormatter(index, row) {
        return `<div class="mx-auto border border-2 p-2">
                 
                 <p class="fw-bold fs-5" style=" margin-right: 50px;">Q: ${row.question}</p>
                 <p class="ms-5"><span class="me-2 fw-bold">[A]</span> ${row.option_A} </p>
                 <p class="ms-5"><span class="me-2 fw-bold">[B]</span> ${row.option_B} </p>
                 <p class="ms-5"><span class="me-2 fw-bold">[C]</span> ${row.option_C} </p>
                 <p class="ms-5"><span class="me-2 fw-bold">[D]</span> ${row.option_D} </p>
                 <p class="ms-5"><span class="me-2 fst-italic text-decoration-underline">Answer</span> <span class="fw-bold">${row.answer} </span> </p>
               </div>`
    }
    //format the question numbering
    function numberingFormatter(){
        nos = nos + 1
        return nos
      }


    //filtering based on unassigned questions
    $("#id_unassigned").on("click",function(){
        if ($("#id_unassigned").is(':checked')){
            request_params.unassigned = 1
            $table.bootstrapTable('refresh')
        }else{
            request_params.unassigned = 0
            $table.bootstrapTable('refresh')
            $("#update_topic button[type=submit]").prop('disabled', true)
        }
    });

    function statusFormatter(value, row, index){
        if (row.exam__id){
            return `<span class="text-success" title="Question has been added to {{exam.name}}"><i class="fas fa-check"></></span>`
        }
        
    }
    function explanationButton(value, row, index){
        
        if (row.explanation){
            return `<button class="expModal btn btn-light rounded-circle"><i class="fa-light fa-message-dots fa-sm "></></button>`
        }else{
            return `<button class="expModal btn btn-light rounded-circle"><i class="fa-light fa-message-plus fa-sm fw-bold"></></button>`
        }
                  
        
    }
    function counterFormatter(value, row, index){
        return `${index + 1}`
    }

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        })
    }

    $table.on('check.bs.table uncheck.bs.table ' + 'check-all.bs.table uncheck-all.bs.table', function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
        $add.prop('disabled', !$table.bootstrapTable('getSelections').length);
        
        $("#update_topic button[type=submit]").prop('disabled', !$table.bootstrapTable('getSelections').length);
    
        // save your data, here just save the current page
        selections = getIdSelections()
        // push or splice the selections if you want to save all data selections
        
    })                                                      
    
    $("#update_topic").on("submit", function(event){
        event.preventDefault()
        let topic = $("#update_topic select").val()
        let msg 
        $.ajax({
            type:"POST",
            url :'{% url "update-topic" %}',
            data : {"csrfmiddlewaretoken": "{{csrf_token}}", "topic":topic, "ids": JSON.stringify(selections)},
            success: function(success){
                if("{{exam.get_exam_status}}" == "ended"){
                    msg= '<a href="{% url "exam-dashboard" exam.id %}">Topic(s) added to question. Go back to {{exam.name}} analysis</a>'
                }else{
                    msg= 'Topic(s) added to question.'
                }
                createToast("success", msg)
                $table.bootstrapTable('refresh')
            },
            error: function(error){
                console.log(JSON.stringify(error))
            }


        })                       
    })

    function addQuestionToExam(){
        url = location.origin + "/teacher/assign-question-to-exam/" + exam_id +"/"
        $.ajax({
            type: "POST",
            url: url,
            data: {"id": JSON.stringify(selections),
                    "csrfmiddlewaretoken": "{{csrf_token}}" 
                },
            success: function(success){
                notify("success", success.message)
                $table.bootstrapTable('refresh')
                //close the alert element
                const autoCloseElements = [...$(".auto-close")]
                setTimeout(function () {
                    autoCloseElements.forEach(el => fadeAndSlide(el));
                }, 5000);

            },
            error: function(error){
                console.log(error)
            }
        })
    }

    function removeQuestionFromExam(){
        url = location.origin + "/teacher/remove-question-from-exam/" + exam_id +"/"
        $.ajax({
            type: "POST",
            url: url,
            data: {"id": JSON.stringify(selections),
                    "csrfmiddlewaretoken": "{{csrf_token}}" 
                },
            success: function(success){

                notify("success", success.message)
                $table.bootstrapTable('refresh')
                //close the alert element
                const autoCloseElements = [...$(".auto-close")]
                setTimeout(function () {
                    autoCloseElements.forEach(el => fadeAndSlide(el));
                }, 5000);

            },
            error: function(error){
                console.log(error)
            }
        })
    }

//alerts *****************************************************************************************************************

function notify(color, msg){
    $("#alert").html(`
        <div class="auto-close alert alert-${color} alert-dismissible fade show py-1" role="alert" >
            ${msg}
        </div>
    `)
}

function fadeAndSlide(element) {
    const fadeDuration = 500;
    const slideDuration = 500;

    // Step 1: Fade out the element
    let opacity = 1;
    const fadeInterval = setInterval(function () {
      if (opacity > 0) {
        opacity -= 0.1;
        element.style.opacity = opacity;
      } else {
        clearInterval(fadeInterval);
        // Step 2: Slide up the element
        let height = element.offsetHeight;
        const slideInterval = setInterval(function () {
          if (height > 0) {
            height -= 10;
            element.style.height = height + "px";
          } else {
            clearInterval(slideInterval);
            // Step 3: Remove the element from the DOM
            element.parentNode.removeChild(element);
          }
        }, slideDuration / 10);
      }
    }, fadeDuration / 10);
  }
// *****************************************************************************************************************



function createAndShowModal(row, idx) {
    // Create modal HTML structure
    const modalHtml = `
      <div class="modal fade" id="explanation" tabindex="-1" aria-labelledby="expalanation-Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-start">
                    ${idx}.&emsp;<div>${row.question}</div>
                </div>
                <div class="ms-2 mt-2">
                    <div class="d-flex align-items-start mb-1">
                        <span class="fw-bold">A)</span>&emsp;<div>${row.option_A}</div>
                    </div>
                    <div class="d-flex align-items-start mb-1">
                        <span class="fw-bold">B)</span>&emsp;<div>${row.option_B}</div>
                    </div>
                    <div class="d-flex align-items-start mb-1">
                        <span class="fw-bold">C)</span>&emsp;<div>${row.option_C}</div>
                    </div>
                    <div class="d-flex align-items-start">
                        <span class="fw-bold">D)</span>&emsp;<div>${row.option_D}</div>
                    </div>
                </div>
                         
                <div class="form-group mt-3">
                    <label for="additionalComments">Explanation<span style="font-size: 12px;" class="text-danger fw-bold">(AI can make mistakes. Check important info.)</span></label><button title="Generate with A.I" id ="generateBtn" class="ms-1 mb-1 btn btn-outline-dark px-1 py-0"><i class="fa-solid fa-robot fa-xs"></i></button>
                    
                    <textarea class="form-control" id="additionalComments" rows="10" ></textarea>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                
                <button disabled type="button" class="w-100 btn btn-outline-success" id="updateExplanation"><i class="fas fa-send"></i> Update Explanation</button>
                        
            </div>
          </div>
        </div>
      </div>
    `;
    
    // Append modal to body
    document.body.insertAdjacentHTML('beforeend', modalHtml);
  
    // Get modal element
    const modalElement = document.getElementById("explanation");
  
    // Create Bootstrap modal instance
    const bootstrapModal = new bootstrap.Modal(modalElement, {
      backdrop: 'static'
    });
  
    // Show modal
    bootstrapModal.show();
  
    // Event listener to remove modal from DOM when hidden
    modalElement.addEventListener('hidden.bs.modal', () => {
         let editor = tinymce.get('additionalComments');
         if (editor) {
             editor.remove();
         }
      modalElement.remove();
    });

    let trimmedValue
    tinymce.init({
        selector: '#additionalComments',
        menubar: false,
        plugins: `advlist,autolink,lists,link,image,charmap,preview,anchor,
        searchreplace,visualblocks,table ,
        code,help,`,
        "toolbar": 
            `bold italic underline subscript superscript| alignleft aligncenter "
            alignright alignjustify | bullist numlist outdent indent | charmap ` ,
        "promotion": false,
        forced_root_block: false,
        setup: function (editor) {
            // Add an event listener for the init event
            editor.on('init', function (e) {
                if (row.explanation) {
                    //row.explanation = row.explanation.split('\n\n').map(paragraph => `<p>${paragraph}`).join('');
                    //row.explanation = row.explanation.replace(/<p>(&nbsp;|\s)*<\/p>/g, '');
                    editor.setContent(row.explanation);
                }
                trimmedValue = editor.getContent({format:"text"}).trim();
                if (trimmedValue.length > 0){
                    $("#updateExplanation").prop("disabled", false)
                }
                
            });
            // Add an event listener for the input event
            editor.on('keyup change', function (e) {
                // You can add your custom logic here
                trimmedValue = editor.getContent({format:"text"}).trim();               
                if (trimmedValue.length > 0){
                    $("#updateExplanation").prop("disabled", false)
                }else{
                    $("#updateExplanation").prop("disabled", true)
                }
               
            
            });
        }
    });

    let generateBtn = $("#generateBtn")
    let editor = tinymce.get("additionalComments")
    
    
    //Adjust height of textarea
    // function adjustTextareaHeight() {
    //     const editorIframe = editor.iframeElement;
    //     editorIframe.style.height = 'auto';
    //     editorIframe.style.height = editor.contentDocument.body.scrollHeight + 'px';
    // }

    generateBtn.on("click", function() {
        $("#generateBtn i").toggleClass("fa-robot fa-circle-notch fa-spin")
        $("#updateExplanation").prop("disabled", true)
        $.ajax({
            type: "POST",
            url: "{% url 'AI-explanation' %}",
            data: {
                "id": row.id,
                "csrfmiddlewaretoken": "{{csrf_token}}"
            },
            success: function (success) {
                $("#generateBtn i").toggleClass("fa-robot fa-circle-notch fa-spin");
                 //let content = success.response.split('\n\n').map(paragraph => `<p>${paragraph}</p>`).join('');
                
                 let content = success.response
                // Clear any existing content
                tinymce.get('additionalComments').setContent('');
                
                let editor = tinymce.get('additionalComments');
                let index = 0;
                let isTag = false;
                let parsedContent = '';

                // Parse the content character by character
                function typeWriter() {
                if (index < content.length) {
                    let char = content.charAt(index);
                    
                    // Check if character is part of an HTML tag
                    if (char === '<') {
                        isTag = true;
                    } else if (char === '>') {
                        isTag = false;
                    }
                    
                    // Append character to parsed content
                    parsedContent += char;
                    
                    // If not inside a tag, insert the content into the editor
                    if (!isTag) {
                        editor.setContent(parsedContent);
                    }

                    index++;
                    setTimeout(typeWriter, 5); // Adjust the speed by changing the timeout value
                } else {
                    // Enable the button after finishing
                    $("#updateExplanation").prop("disabled", false);
                }
                }
                typeWriter();
            },
            error: function (error) {
                // Handle the error
                console.error("Error:", error);
            }
            });

        

        
    });

}

window.operateEvents = {
	"click .expModal": function (e, value, row, index) {
		let btn = $(e.currentTarget);
        createAndShowModal(row, index+1)
        
        $("#updateExplanation").on("click", function(){
            console.log(tinymce.get("additionalComments").getContent())
            $.ajax({
                type: "POST",
                url: "{% url 'update-explanation' %}",
                data: {"id": row.id,
                "csrfmiddlewaretoken": "{{csrf_token}}" ,
                "explanation": tinymce.get("additionalComments").getContent()},
                beforeSend: function(){
                    let modal = bootstrap.Modal.getInstance($("#explanation"))
                    modal.hide()
                },
                success: function (success){
                    $table.bootstrapTable('refresh')
                    createToast("success", "Explanation added");

                },
                error: function(error){
                    alert(JSON.stringify(error))
                }
            })
        })
    }
}




</script>

{% endblock js %}