.spinner {
  display: block;
  position: fixed;
  z-index: 2060; /* Set a high z-index to keep it on top */
  top: 0; /* Change to 0 to occupy the entire vertical space */
  left: 0; /* Change to 0 to occupy the entire horizontal space */
  width: 100%; /* Set the width to 100% */
  height: 100%; /* Set the height to 100% */
  background-color: rgba(152, 150, 150, 0.3); /*Add a semi-transparent background color
  /* Add any other styling for your spinner */
}


.custom-loader {  
  position: absolute;
  top: 50%;
  left: 50%;  
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#0d6efd 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#0d6efd 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#0d6efd 80%),
    #E4E4ED;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:p9 2s infinite linear;
}
@keyframes p9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}
.asteriskField{
  color: red;
}

*:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
li.disabled {
  cursor: not-allowed;
}
li.disabled a {
  pointer-events: none;
}

#question-container  span{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  /* background-color: #dff0d8; */
  /* color: #3c763d; */
  border: 1px solid black;
}

#question-container  .correct{
  background-color: #dff0d8; 
  color: #3c763d;
  border-color: #a6c2a7;
}
#question-container  .wrong{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}