{% load static %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"> 
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-1 ms-3 py-2" ><img  src="{% static "images/logo.png" %}" alt="Logo" width="55" height="55" ></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" >
        <div class="input-group" {% if request.user.is_student %}style="display:none;"{% endif %}>
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    
    
    {% comment %} {% if request.user.is_student %}
    <a href="#" class=" position-relative me-2 mt-2 text-secondary">
        <i class="fas fa-bell fa-2x"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          10
          <span class="visually-hidden">unread messagessss</span>
        </span>
    </a>                                                
    {% endif %} {% endcomment %}
   
    
      
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <!--  -->
                {% if request.user.teacher.image %}
                    <img src="{{request.user.teacher.image.url}}" alt="" style="border-radius: 50%;width: 50px;height: 50px;border: 2px solid #a8a5a5;"><span class="mx-1">{{request.user.username}}</span>
                {% elif request.user.student.image %}
                    <img src="{{request.user.student.image.url}}" alt="" style="border-radius: 50%;width: 50px;height: 50px;border: 2px solid #a8a5a5;"><span class="mx-1">{{request.user.username}}</span>
                {% else %}
                    <img src="/media/photo/avatar.jpg" alt="" style="border-radius: 50%;width: 50px;height: 50px;border: 2px solid #a8a5a5;"><span class="mx-1">{{request.user.username}}</span>
                    <!--<i class="fas fa-user fa-fw"></i> -->
                {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                {% if request.user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url "logout" %}">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url "login" %}">Login</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</nav>