{% extends "basic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
        <main class="form-signin w-100 m-auto" style="max-width:400px">
            <form method="post">
                {% csrf_token %}
                <img class="mb-4 mx-auto d-block" src="{% static "images/logo.svg" %}" alt="" width="100" height="57">
                <h3 class="h3 mb-3 fw-normal">Enter new password</h3>
                <div class="small mb-3 text-muted">Please enter your new password twice so we can verify you typed it in correctly.</div>
                {{form | crispy}}
    
                <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Change password</button>
            </form>
        </main>
    {% else %}
        <main class="form-signin w-100 m-auto" style="max-width:400px">
    
            <img class="mb-4 mx-auto d-block" src="{% static "images/logo.svg" %}" alt="" width="100" height="57">
            <h3 class="h3 mb-3 fw-normal">Password reset unsuccessful</h3>
            <div class="small mb-3 text-muted">The password reset link was invalid, possibly because it has already been used or tampered. Please request a new password reset.</div>
            
            <a class="btn btn-success w-100 py-2 mt-2" href="{% url "reset_password" %}">Resend email</a>
        
        </main>
    {% endif  %}
{% endblock content %}