{% extends "basic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main class="form-signin w-100 m-auto" style="max-width:400px">
    <form method="post">
        {% csrf_token %}
        <img class="mb-4 mx-auto d-block" src="{% static "images/logo.svg" %}" alt="" width="100" height="57">
        <h3 class="h3 mb-3 fw-normal">Reset your password</h3>
        <div class="small mb-3 text-muted">Enter your email address and we will send you a link to get back into your account.</div>
        {{form | crispy}}

        
        <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Send link</button>
    </form>
</main>
{% endblock content %}